body {
    font-family: "Audiowide", sans-serif;
    font-size: 15px;
    text-shadow: 3px 3px 3px lightcoral;
    background: linear-gradient(rgb(241, 207, 213), rgb(211, 150, 161), rgb(194, 138, 147));
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.header {
    
}

.container {
    
}

input[type="number"] {
    
}

button {
    
}

button:hover {
    
}

#output {
    
}

#container div {
    
}
